{% load static %}
<html>
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <link
      rel="stylesheet"
      href="https://use.fontawesome.com/releases/v5.0.7/css/all.css"
    />
    <link rel="stylesheet" href="{% static 'css/Bua Profile.css' %}" />
    <title>BUA PROFILE</title>
    <link
      rel="stylesheet"
      href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css"
      integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T"
      crossorigin="anonymous"
    />
  </head>
  <body>
    <script
      src="https://code.jquery.com/jquery-3.3.1.slim.min.js"
      integrity="sha384-q8i/X+965DzO0rT7abK41JStQIAqVgRVzpbzo5smXKp4YfRvH+8abtTE1Pi6jizo"
      crossorigin="anonymous"
    ></script>
    <script
      src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.7/umd/popper.min.js"
      integrity="sha384-UO2eT0CpHqdSJQ6hJty5KVphtPhzWj9WO1clHTMGa3JDZwrnQq4sF86dIHNDz0W1"
      crossorigin="anonymous"
    ></script>
    <script
      src="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/js/bootstrap.min.js"
      integrity="sha384-JjSmVgyd0p3pXB1rRibZUAYoIIy6OrQ6VrjIEaFf/nJGzIxFDsf4x0xIM+B07jRM"
      crossorigin="anonymous"
    ></script>

    <div class="buahome">
      <div class="topnav">
        <img
          src="{% static 'images/logo.png' %}"
          id="logo"
        />
        <div class="topnav-right">
          <a
            href="{% url 'buaHome' bua.ID %}"
            >Home</a
          >
          <a href="{% url 'buaLogin' %}"
            >Log out</a
          >
          <a href="{% url 'buaOngoingWork' bua.ID %}">Ongoing Services</a>
          <a href="{% url 'buaAvailableWork' bua.ID %}">Available Offers</a>
          <a href="{% url 'buaCompletedWork' bua.ID %}">Completed Jobs</a>
        </div>
      </div>
      <h2 style="text-align: center ;color: white;">User Profile</h2>

      <div class="wrapper">
        <div class="left">
          <img src="{% static 'images/default.jpg' %}" alt="user" width="100" height="100" style="border-radius: 50%;" />
          <h4>{{bua.FirstName}}  {{bua.LastName}}</h4>
        </div>
        <div class="right">
          <div class="info">
            <div class="info_data">
              <div class="data">
                <h4>Work List</h4>
                <p>{% for w in work %} {{w}} {% endfor %}</p>
              </div>
              <div class="data">
                <h4>Phone</h4>
                <p>0{{bua.PhoneNumber}}</p>
              </div>
            </div>
          </div>

          <div class="others">
            <div class="others_data">
              <div class="data">
                <h4>Rating</h4>
                <span class="fa fa-star checked">{{bua.Rating}}</span>
              </div>
              <div class="data">
                <h4>Address</h4>
                <p>{{bua.location}}</p>
              </div>
            </div>
          </div>
        </div>
      </div>

      <a href="{% url 'buaUpdate' bua.ID %}" class="btn btn-primary">Change or Update Profile</a>
    </div>
  </body>
</html>
