{% load static %}
<html>
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <link rel="stylesheet" href="{% static 'css/Completed jobs.css' %}" />
    <title>Completed Jobs</title>
    <link
      rel="stylesheet"
      href="https://use.fontawesome.com/releases/v5.0.7/css/all.css"
    />
    <link
      rel="stylesheet"
      href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css"
      integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T"
      crossorigin="anonymous"
    />
  </head>
  <body>
    <script
      src="https://code.jquery.com/jquery-3.3.1.slim.min.js"
      integrity="sha384-q8i/X+965DzO0rT7abK41JStQIAqVgRVzpbzo5smXKp4YfRvH+8abtTE1Pi6jizo"
      crossorigin="anonymous"
    ></script>
    <script
      src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.7/umd/popper.min.js"
      integrity="sha384-UO2eT0CpHqdSJQ6hJty5KVphtPhzWj9WO1clHTMGa3JDZwrnQq4sF86dIHNDz0W1"
      crossorigin="anonymous"
    ></script>
    <script
      src="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/js/bootstrap.min.js"
      integrity="sha384-JjSmVgyd0p3pXB1rRibZUAYoIIy6OrQ6VrjIEaFf/nJGzIxFDsf4x0xIM+B07jRM"
      crossorigin="anonymous"
    ></script>

    <div class="customerhome">
      <div class="topnav">
        <img
          src="{% static 'images/logo.png' %}"
          id="logo"
        />
        <div class="topnav-right">
          <a
            href="{% url 'customerHome' customer.ID %}"
            >Home</a
          >
          <a
            href="{% url 'customerLogin' %}"
            >Log out</a
          >

          <a href="{% url 'customerRequest' customer.ID  %}">Your Requests</a>
          <a href="{% url 'customerOngoing' customer.ID %}">Ongoing Services</a>
        </div>
      </div>

      <div class="main-content">
        <div class="title" style="background-color: black; width:fit-content"  >
          <h2 style="color:white ;">Completed Jobs</h2>
          </div>>

        <ul>
          {% for w in work %}
            
          <li>
            <!-- Trigger/Open The Modal -->
            <button id="myBtn" class="btn"><h6>Service {{w.ID}}</h6></button>
            {% if w.rating == -1 %}
            <h7>Give Rating</h7>
            <form method="POST" action="#" >
              {% csrf_token %}
            <span class="star__container">
             <input type="text" hidden name="trans" value="{{w.ID}}" >
             <input type="text" hidden name="bua" value="{{w.bua.ID}}" >
              <input
                type="radio"
                name="rating"
                value="1"
                id="star-1"
                class="star__radio visuhide"
              />
              <input
                type="radio"
                name="rating"
                value="2"
                id="star-2"
                class="star__radio visuhide"
              />
              <input
                type="radio"
                name="rating"
                value="3"
                id="star-3"
                class="star__radio visuhide"
              />
              <input
                type="radio"
                name="rating"
                value="4"
                id="star-4"
                class="star__radio visuhide"
              />
              <input
                type="radio"
                name="rating"
                value="5"
                id="star-5"
                class="star__radio visuhide"
              />
              
              <label class="star__item" for="star-1"
                ><span class="visuhide">1 star</span></label
              >
              <label class="star__item" for="star-2"
                ><span class="visuhide">2 stars</span></label
              >
              <label class="star__item" for="star-3"
                ><span class="visuhide">3 stars</span></label
              >
              <label class="star__item" for="star-4"
                ><span class="visuhide">4 stars</span></label
              >
              <label class="star__item" for="star-5"
                ><span class="visuhide">5 stars</span></label
              >
            </span>
            <input class="btn btn-secondary" type="submit"  />
              </form>
            {% endif %}
            <!-- The Modal -->
            <div id="myModal" class="modal">
              <!-- Modal content -->
              <div class="modal-content">
                <span class="close">&times;</span>
                <div class="card">
                  <div class="card-header">Service {{w.ID}}</div>
                  <div class="card-body">
                    <p class="card-text">Service ID:{{w.ID}}</p>
                    <p class="card-text">BUA ID:{{w.ServiceProvider_ID}}</p>
                    <p class="card-text">BUA Name:{{w.bua.FirstName}}  {{w.bua.LastName}}</p>
                    <p class="card-text">BUA Phone number:{{w.bua.PhoneNumber}}</p>
                    <p class="card-text">BUA Rating: <span class="fa fa-star checked">{{w.bua.Rating}}</span></p>
                    <p class="card-text">Works:{{w.work}}</p>
                    <p class="card-text">Salary:{{w.Amount}}</p>
                    {% if w.buaRating != -1 %}
                    <p class="card-text">Given Rating: <span class="fa fa-star checked">{{w.customerRating}}</span></p>
                    {% endif %}
                  </div>
              </div>
                
            </div>
          </li>
          {% endfor %}
        </ul>
      </div>

      <section class="footer">
        <p>Follow us</p>
        <ul class="icons">
          <li class="icon">
            <a href="https://facebook.com"
              ><i class="fab fa-facebook" aria-hidden="true"></i
            ></a>
          </li>
          <li class="icon">
            <a href="https://twitter.com"
              ><i class="fab fa-twitter" aria-hidden="true"></i
            ></a>
          </li>
          <li class="icon">
            <a href="https://google.com"
              ><i class="fab fa-google-plus-g" aria-hidden="true"></i
            ></a>
          </li>
          <li class="icon">
            <a href="https://linkedin.com"
              ><i class="fab fa-linkedin" aria-hidden="true"></i
            ></a>
          </li>
          <li class="icon">
            <a href="https://instagram.com"
              ><i class="fab fa-instagram" aria-hidden="true"></i
            ></a>
          </li>
        </ul>
      </section>
    </div>
    <script>
     // Get the modal
     var modals = document.getElementsByClassName("modal");

          // Get the button that opens the modal
          var btns = document.getElementsByClassName("btn");

          // Get the <span> element that closes the modal
          var spans = document.getElementsByClassName("close");

          var i;
          // When the user clicks the button, open the modal
          var btnHandler = function (num) {
            return function () {
              modals[num].style.display = "block";
            };
          };

          for (i = 0; i < btns.length; i++) {
            btns[i].onclick = btnHandler(i);
          }
          // When the user clicks on <span> (x), close the modal
          var spanHandler = function (num) {
            return function () {
              modals[num].style.display = "none";
            };
          };

          for (i = 0; i < spans.length; i++) {
            spans[i].onclick = spanHandler(i);
          }
    </script>
  </body>
</html>
