
{% load static %}
<!doctype html>
<html lang="en">
  <head>
    <!-- Required meta tags -->
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <link rel="stylesheet" href="{% static 'css/map.css' %}" />
    <!-- Bootstrap CSS -->
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css" integrity="sha384-Gn5384xqQ1aoWXA+058RXPxPg6fy4IWvTNh0E263XmFcJlSAwiGgFAW/dAiS6JXm" crossorigin="anonymous">

    <title>Location Update</title>
  </head>
  <body >
    <nav class="navbar navbar-dark bg-dark justify-content-between">
        <a class="navbar-brand" style="color: white;">kaj lagbee</a>
        

        <form class="form-inline" action="{% url 'mapCustomerUpdate' id %}?address={{address}}" method="post">
          
            {% csrf_token%}
            <div class="container" style="color: white;" name='something'>{{location}}</div>
            <div class="container">
            
              <input class="form-control mr-sm-2" name='location' type="search" placeholder="Search" aria-label="Search"  value={{address}}>
              <input class="btn btn-success my-2 my-sm-0" type="submit" name='my_btn' value='search' >
            </div>
            <div class="container">
            <input type="text" value={{address}} name='address' hidden>
            
            {% if show_setup %}
            <input class="btn btn-success"  type="submit" name="cngLocation">
            {% endif %}
            </div>
            
        </form>
        <form action="{% url 'mapCustomerUpdate' id %}" method="get">
          {% csrf_token %}
          
          <input type="text" value={{id}} name='id' hidden>
           <a class="btn btn-danger" href="{% url 'customerProfile' id %}">Skip</a>
           </form>
      </nav>
    <div class="container">
        <div class="row mt-4">
            <div class="col-md-10 offset-1">
                {{map|safe}}
            </div>
        </div>
        
    </div>
    

    <!-- Optional JavaScript -->
    <!-- jQuery first, then Popper.js, then Bootstrap JS -->
    <script src="https://code.jquery.com/jquery-3.2.1.slim.min.js" integrity="sha384-KJ3o2DKtIkvYIK3UENzmM7KCkRr/rE9/Qpg6aAZGJwFDMVNA/GpGFF93hXpG5KkN" crossorigin="anonymous"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.12.9/umd/popper.min.js" integrity="sha384-ApNbgh9B+Y1QKtv3Rn7W3mgPxhU9K/ScQsAP7hUibX39j7fakFPskvXusvfa0b4Q" crossorigin="anonymous"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/js/bootstrap.min.js" integrity="sha384-JZR6Spejh4U02d8jOt6vLEHfe/JQGiRRSQQxSfFWpi1MquVdAyjUar5+76PVCmYl" crossorigin="anonymous"></script>
  </body>
</html>