* {
  margin: 0%;
  padding: 0%;
}

.buahome {
  min-height: 100vh;
  width: 100%;
}

.topnav {
  background-color: #333;
  overflow: hidden;
}

#logo {
  height: 50px;
  width: 60px;
}

.topnav a {
  float: left;
  color: #f2f2f2;
  text-align: center;
  padding: 14px 16px;
  text-decoration: none;
  font-size: 17px;
}

.topnav a:hover {
  background-color: #ddd;
  color: black;
}

.topnav-right {
  float: right;
}

body {
  font-family: Arial, Helvetica, sans-serif;
  margin: 0;
  width: 100%;
  height: 100%;
  background-image: url("images/test7.jpg");
  /* background-color: white; */
  background-position: center center;
  background-repeat: no-repeat;
  background-attachment: fixed;
  background-size: cover;
}

html {
  box-sizing: border-box;
}

ul {
  background-color: #ddd;
  list-style-type: none;
  padding: 0;
  border: 1px solid #ddd;
  width: 70%;
}

ul li {
  padding: 8px 16px;
  border-bottom: 1px solid #ddd;
}

ul li:last-child {
  border-bottom: none;
}

.footer {
  position: relative;
  width: 100%;
  height: 200px;
  text-align: center;
  padding: 30px 0;
  bottom: -100;
}

ul .btn {
  background-color: #ddd;
  color: black;
  border: 2px solid #f2f2f2;
}

.close {
  color: #aaaaaa;
  float: right;
  font-size: 28px;
  font-weight: bold;
}

.close:hover,
.close:focus {
  color: #000;
  text-decoration: none;
  cursor: pointer;
}

.footer h1 {
  font-weight: 600;
}

.icons {
  position: absolute;
  bottom: 0;
  left: 70%;
  transform: translate(-50%, -50%);
  margin: 0;
  padding: 0;
  display: flex;
  background-color: transparent;
  border: none;
}

.icons li {
  list-style: none;
}

.icons li a {
  position: relative;
  width: 100%;
  height: 100%;
  display: flex;
  text-align: center;
  margin: 0 10px;
  border-radius: 50%;
  padding: 6px;
  box-sizing: border-box;
  text-decoration: none;
  box-shadow: 0 10px 15px rgba(0, 0, 0, 0.3);
  background: linear-gradient(0deg, #ddd, #fff);
  transition: 0.5s;
}

.icons li a:hover {
  box-shadow: 0 2px 5px rgba(0, 0, 0, 0.3);
  text-decoration: none;
}

.icons li a .fab {
  width: 100%;
  height: 100%;
  display: block;
  background: linear-gradient(0deg, #fff, #ddd);
  border-radius: 50%;
  line-height: calc(60px - 12px);
  font-size: 24px;
  color: #262626;
  transition: 0.5s;
}

.icons li:nth-child(1) a:hover .fab {
  color: #3b5998;
}

.icons li:nth-child(2) a:hover .fab {
  color: #00aced;
}

.icons li:nth-child(3) a:hover .fab {
  color: #dd4b39;
}

.icons li:nth-child(4) a:hover .fab {
  color: #007bb6;
}

.icons li:nth-child(5) a:hover .fab {
  color: #e4405f;
}

.main-content {
  width: 70%;
  padding: 80px;
}
