* {
  margin: 0%;
  padding: 0%;
}

.buahome {
  min-height: 100vh;
  width: 100%;
}

.topnav {
  background-color: #333;
  overflow: hidden;
}

#logo {
  height: 50px;
  width: 60px;
}

.topnav a {
  float: left;
  color: #f2f2f2;
  text-align: center;
  padding: 14px 16px;
  text-decoration: none;
  font-size: 17px;
}

.topnav a:hover {
  background-color: #ddd;
  color: black;
}

.topnav a.active {
  background-color: #04aa6d;
  color: white;
}

.topnav-right {
  float: right;
}

body {
  font-family: Arial, Helvetica, sans-serif;
  margin: 0;
  width: 100%;
  height: 100%;
  background-image: url("images/test8.webp");
  /* background-color: white; */
  background-position: center center;
  background-repeat: no-repeat;
  background-attachment: fixed;
  background-size: cover;
}

html {
  box-sizing: border-box;
}

.wrapper {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  width: 450px;
  display: flex;
  box-shadow: 0 1px 20px 0 rgba(69, 90, 100, 0.08);
}

.wrapper .left {
  width: 35%;
  background: linear-gradient(to right, #01a9ac, #01dbdf);
  padding: 30px 25px;
  border-top-left-radius: 5px;
  border-bottom-left-radius: 5px;
  text-align: center;
  color: #fff;
}

.wrapper .left img {
  border-radius: 5px;
  margin-bottom: 10px;
}

.wrapper .left h4 {
  margin-bottom: 10px;
}

.wrapper .left p {
  font-size: 12px;
}

.wrapper .right {
  width: 65%;
  background: #fff;
  padding: 30px 25px;
  border-top-right-radius: 5px;
  border-bottom-right-radius: 5px;
}

.wrapper .right .info,
.wrapper .right .others {
  margin-bottom: 25px;
}

.wrapper .right .info h3,
.wrapper .right .others h3 {
  margin-bottom: 15px;
  padding-bottom: 5px;
  border-bottom: 1px solid #e0e0e0;
  color: #353c4e;
  text-transform: uppercase;
  letter-spacing: 5px;
}

.wrapper .right .info_data,
.wrapper .right .others_data {
  display: flex;
  justify-content: space-between;
}

.wrapper .right .info_data .data,
.wrapper .right .others_data .data {
  width: 45%;
}

.wrapper .right .info_data .data h4,
.wrapper .right .others_data .data h4 {
  color: #353c4e;
  margin-bottom: 5px;
}

.wrapper .right .info_data .data p,
.wrapper .right .others_data .data p {
  font-size: 13px;
  margin-bottom: 10px;
  color: #919aa3;
}

.wrapper .right .others_data .data .checked {
  color: orange;
}
