* {
  margin: 0%;
  padding: 0%;
}

.buahome {
  min-height: 100vh;
  width: 100%;
}

.topnav {
  background-color: #333;
  overflow: hidden;
}

#logo {
  height: 50px;
  width: 60px;
}

.topnav a {
  float: left;
  color: #f2f2f2;
  text-align: center;
  padding: 14px 16px;
  text-decoration: none;
  font-size: 17px;
}

.topnav a:hover {
  background-color: #ddd;
  color: black;
}

.topnav a.active {
  background-color: #04aa6d;
  color: white;
}

.topnav-right {
  float: right;
}

body {
  font-family: Arial, Helvetica, sans-serif;
  margin: 0;
  width: 100%;
  height: 100%;
  background-image: url("images/test5.jpg");
  /* background-color: white; */
  background-position: center center;
  background-repeat: no-repeat;
  background-attachment: fixed;
  background-size: cover;
}

html {
  box-sizing: border-box;
}

.modal {
  display: none; /* Hidden by default */
  position: fixed; /* Stay in place */
  z-index: 1; /* Sit on top */
  padding-top: 100px; /* Location of the box */
  left: 0;
  top: 0;
  width: 100%; /* Full width */
  height: 100%; /* Full height */
  overflow: auto; /* Enable scroll if needed */
  background-color: rgb(0, 0, 0); /* Fallback color */
  background-color: rgba(0, 0, 0, 0.4); /* Black w/ opacity */
}

/* Modal Content */
.modal-content {
  background-color: #fefefe;
  margin: auto;
  padding: 20px;
  border: 1px solid #888;
  width: 80%;
}

/* The Close Button */
.close {
  color: #aaaaaa;
  float: right;
  font-size: 28px;
  font-weight: bold;
}

.close:hover,
.close:focus {
  color: #000;
  text-decoration: none;
  cursor: pointer;
}

ul {
  background-color: #ddd;
  list-style-type: none;
  padding: 0;
  border: 1px solid #ddd;
  width: 70%;
}

ul li {
  padding: 8px 16px;
  border-bottom: 1px solid #ddd;
}

ul li:last-child {
  border-bottom: none;
}

.visuhide {
  position: absolute !important;
  overflow: hidden;
  width: 1px;
  height: 1px;
  clip: rect(1px, 1px, 1px, 1px);
}

.star__container:hover .star__item,
.star__radio:checked ~ .star__item {
  -webkit-filter: grayscale(0);
  filter: grayscale(0);
}

.star__container:not(:hover)
  > .star__radio:nth-of-type(1):checked
  ~ .star__item:nth-of-type(1)
  ~ .star__item,
.star__container:not(:hover)
  > .star__radio:nth-of-type(2):checked
  ~ .star__item:nth-of-type(2)
  ~ .star__item,
.star__container:not(:hover)
  > .star__radio:nth-of-type(3):checked
  ~ .star__item:nth-of-type(3)
  ~ .star__item,
.star__container:not(:hover)
  > .star__radio:nth-of-type(4):checked
  ~ .star__item:nth-of-type(4)
  ~ .star__item,
.star__container:not(:hover)
  > .star__radio:nth-of-type(5):checked
  ~ .star__item:nth-of-type(5)
  ~ .star__item,
.star__item,
.star__item:hover ~ .star__item {
  -webkit-filter: grayscale(1);
  filter: grayscale(1);
}

.star__radio:nth-of-type(1):checked ~ .star__item:nth-of-type(1)::before {
  -webkit-transform: scale(1.5);
  transform: scale(1.5);
  transition-timing-function: cubic-bezier(0.5, 1.5, 0.25, 1);
}
.star__radio:nth-of-type(2):checked ~ .star__item:nth-of-type(2)::before {
  -webkit-transform: scale(1.5);
  transform: scale(1.5);
  transition-timing-function: cubic-bezier(0.5, 1.5, 0.25, 1);
}
.star__radio:nth-of-type(3):checked ~ .star__item:nth-of-type(3)::before {
  -webkit-transform: scale(1.5);
  transform: scale(1.5);
  transition-timing-function: cubic-bezier(0.5, 1.5, 0.25, 1);
}
.star__radio:nth-of-type(4):checked ~ .star__item:nth-of-type(4)::before {
  -webkit-transform: scale(1.5);
  transform: scale(1.5);
  transition-timing-function: cubic-bezier(0.5, 1.5, 0.25, 1);
}
.star__radio:nth-of-type(5):checked ~ .star__item:nth-of-type(5)::before {
  -webkit-transform: scale(1.5);
  transform: scale(1.5);
  transition-timing-function: cubic-bezier(0.5, 1.5, 0.25, 1);
}
.star__container {
  display: flex;
  margin: auto;
  border-radius: 0.25em;
  box-shadow: 0 0.25em 1em rgba(0, 0, 0, 0.25);
  transition: box-shadow 0.3s ease;
}
.star__container:focus-within {
  box-shadow: 0 0.125em 0.5em rgba(0, 0, 0, 0.5);
}
.star__item {
  display: inline-flex;
  width: 1.25em;
  height: 1.5em;
}
.star__item::before {
  content: "⭐️";
  display: inline-block;
  margin: auto;
  font-size: 0.75em;
  vertical-align: top;
  -webkit-backface-visibility: hidden;
  backface-visibility: hidden;
  -webkit-transform-origin: 50% 33.3%;
  transform-origin: 50% 33.3%;
  transition: -webkit-transform 0.3s ease-out;
  transition: transform 0.3s ease-out;
  transition: transform 0.3s ease-out, -webkit-transform 0.3s ease-out;
}

ul .btn {
  background-color: #ddd;
  color: black;
  border: 2px solid #f2f2f2;
}

.footer {
  position: relative;
  width: 100%;
  height: 200px;
  text-align: center;
  padding: 30px 0;
  bottom: -100;
}

.footer h1 {
  font-weight: 600;
}

.icons {
  position: absolute;
  bottom: 0;
  left: 70%;
  transform: translate(-50%, -50%);
  margin: 0;
  padding: 0;
  display: flex;
  background-color: transparent;
  border: none;
}

.icons li {
  list-style: none;
}

.icons li a {
  position: relative;
  width: 100%;
  height: 100%;
  display: flex;
  text-align: center;
  margin: 0 10px;
  border-radius: 50%;
  padding: 6px;
  box-sizing: border-box;
  text-decoration: none;
  box-shadow: 0 10px 15px rgba(0, 0, 0, 0.3);
  background: linear-gradient(0deg, #ddd, #fff);
  transition: 0.5s;
}

.icons li a:hover {
  box-shadow: 0 2px 5px rgba(0, 0, 0, 0.3);
  text-decoration: none;
}

.icons li a .fab {
  width: 100%;
  height: 100%;
  display: block;
  background: linear-gradient(0deg, #fff, #ddd);
  border-radius: 50%;
  line-height: calc(60px - 12px);
  font-size: 24px;
  color: #262626;
  transition: 0.5s;
}

.icons li:nth-child(1) a:hover .fab {
  color: #3b5998;
}

.icons li:nth-child(2) a:hover .fab {
  color: #00aced;
}

.icons li:nth-child(3) a:hover .fab {
  color: #dd4b39;
}

.icons li:nth-child(4) a:hover .fab {
  color: #007bb6;
}

.icons li:nth-child(5) a:hover .fab {
  color: #e4405f;
}

.main-content {
  width: 70%;
  padding: 80px;
}
.fa-star{
 color: orange;
}
